@{
    ViewData["Title"] = "";
}

<div class="text-center" style="background-color:darkgrey;min-height:500px">

</div>


<div class="card" id="ChatBox">
    <div class="card-header">
        <b>online Support</b>
    </div>
    <div id="MessagePanel">
        <ul id="Messages">

        </ul>


        <div id="SendNewMessage">
            <form id="NewMessageForm" class="row">
                <input id="MessageInput" 
                       class="form-control col-md-8 col-sm-8"
                       placeholder="enter your message" />
                <button class="btn btn-success col-md-4 col-md-4">
                    Send
                </button>

            </form>
        </div>
    </div>
</div>